#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #363636;
}

.genomicList {
    text-align: left;
    background-color: lightpink;
    margin: 0;
    padding: 0;
}

.navele {
    float: left;
}

.test {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a:hover.test {
    background-color: #232323;
}

body {
    background-image: url("binary.jpg");
    background-color: #cccccc;
    color: aliceblue;
   }
