ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #363636;
}

.genomicList {
    text-align: left;
    background-color: lightpink;
    color: #232323;
    margin: 0;
    padding: 0;
}

.navele li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #232323;
}
