#mainmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #363636;
}

#mainmenu li {
    float: left;
}

#mainmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#mainmenu li a:hover {
    background-color: #232323;
}
